.DS_Store
*.log
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
server/.env
lifa-app/.env
lifa-app/config.ts
.expo/
dist/
web-build/
*.jks
*.p12
*.key
*.mobileprovision
android/app/build/
ios/Pods/
ios/build/
*.tsbuildinfo
*/config.ts
backup.sql
*/ca.pem
*/*.pem
ca.pem
*.pem
